h2 {
  margin: auto;
  width: 400px;
  padding: 0.2em;
  text-align: center;
  padding-top: 08rem;
  font-size: 35px;
}

img {
  max-width: 100px;
  height: auto;
  position: absolute;
  top: 4%;
  left: 40%;
}

a.link {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.link {
  display: block;
  text-align: center;
  margin-bottom: 10px;

}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #ffffff;
  transition: background-color 3s ease, color 0.3s ease;
}

#divlink {
  margin: auto;
  width: 400px;
  text-align: center;
  border: 1px #1c1c1c;
  border-style: solid;
  border-radius: 20px;
  background-color: #87ceeb;
  font-size: 20px;
  font-family: arial;
  padding: 10px;
}

footer {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}